.background {
    background-color: rgb(223, 104, 104);
}

.main {
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.bullet {
    background-color: rgb(129, 129, 237);
}

#recipe {
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 24px;
    font-weight: 200;
    color: white;
}

.display {
    height: auto;
    width: 500px;
}

.main.sub {
    font-size: 24px;
}

.text {
    text-align: center;
    font-family: 'Tahoma', 'sans-serif';
    font-size: 20px;
    color: white;
}

#ingredients {
    color: white;
    font-family: 'Times New Roman', 'sans-serif';
    text-align: center;
    background-color: rgb(33, 196, 33);
    font-size: 20px;
}

#steps {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: black;
}